@model Menu

@{
    ViewData["Title"] = "Cardápio";
}

<h1>@ViewData["Title"]</h1>
<hr/>

@if (Model.Categories is null || Model.Categories.Count() == 0)
{
    <div>Ainda não foram adicionados categorias a este cardápio...</div>
}
else
{
    foreach (var category in Model.Categories)
    {
        <div class="row">
            <div class="col-md-8">
                <h2 class="pb-2">@Html.DisplayName(category.Name)</h2>
            </div>
        </div>        

        if (category.MenuItems is null || category.MenuItems.Count() == 0)
        {
            <div>Ainda não foram adicionados itens a esta categoria...</div>
        }
        else
        {
            <div class="card">
                <div class="card-body py-2">
                    <table class="table">
                        <tbody>
                            @foreach (var item in category.MenuItems)
                            {
                                <tr>
                                    <td>@Html.DisplayName(item.Name)</td>
                                    <td>R$ @Html.DisplayName(item.Price.ToString().Replace(".", ","))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}
