@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<hr />

<h2>Contribuidores</h2>

<ul>
    <li>Amanda Cordeiro</li>
    <li>Ana Cristina Silva Soares</li>
    <li>Christhian Cardoso Braz Lopes</li>
    <li>Fernando Eustaquio Franca Gomes</li>
    <li>Marco Tulio Chaves Sabino</li>
    <li>Maria Jéssica da Silva Melo</li>
    <li>Rafael Vieira Neves</li>
</ul>
