@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Menu Tátil - Um Cardápio para Todos</h1>
    <p>[Colocar informações sobre o projeto e seus objetivos]</a>.</p>
</div>
